
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Кинологический клуб", "Index", "DOGsPage", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["user"] == null)
                    {
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Владельцы", "Index", "OWNERs")</li>
                        <li class="nav-item">@Html.ActionLink("Награды", "Index", "DogAwards")</li>

                        if (Session["user"].ToString() == "admin")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    Таблицы <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Breeds/Index">Список пород</a></li>
                                    <li><a href="/Awards/Index">Список наград</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/Districts/Index">Список районов</a></li>
                                    <li><a href="/Streets/Index">Список улиц</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">@Html.ActionLink("Добавить пользователя", "Index", "AddNewUser")</li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    Таблицы <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/QueryOne/Index">
                                            Список владельцев,
                                            имеющих двух и более собак
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="/QueryTwo/Index">Статистика по породам</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/QueryThree/Index">Статистика по наградам</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/Candidate/Index">Подбор кандидата на выставку</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @if (Session["user"] != null)
                {
                    using (Html.BeginForm("CreateDocument", "DOGsPage", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                    {
                        <button type="submit" class="btn btn-info btn-sm ">Скачать документ</button>
                    }
                    <button type="button" class="btn btn-default navbar-btn navbar-right btn-sm">@Html.ActionLink("Выход", "Index", "Home")</button>
                    <h4 class="navbar-text navbar-right" style="padding-right:8px;">
                        @Session["user"]
                    </h4>
                }
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
