@model IEnumerable<KursavayaDogClub.Models.STREET>

@{
    ViewBag.Title = "Index";
}

<h2>Список улиц</h2>

<ul class="pager">
    <li class="previous">@Html.ActionLink("Добавить запись", "Create")</li>
</ul>
<table class="table">
    <tr>
        <th>
            @Html.Label("Улица")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.STREET_NAME)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.STREET_ID }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.STREET_ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.STREET_ID })
        </td>
    </tr>
}

</table>
