@model KursavayaDogClub.Models.OWNER

@{
    ViewBag.Title = "Детали";
}

<h2>Подробнее</h2>

<div>
    <h4>ВЛАДЕЛЕЦ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Район")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRICT.DISTRICT_NAME)
        </dd>

        <dt>
            @Html.Label("Улица")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STREET.STREET_NAME)
        </dd>

        <dt>
            @Html.Label("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OWNER_SURNAME)
        </dd>

        <dt>
            @Html.Label("Имя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OWNER_NAME)
        </dd>

        <dt>
            @Html.Label("Отчество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OWNER_PATRONYMIC)
        </dd>

        <dt>
            @Html.Label("Дом")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_HOUSE)
        </dd>

        <dt>
            @Html.Label("Квартира")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_APARTMENT)
        </dd>

        <dt>
            @Html.Label("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_PHONE)
        </dd>

    </dl>
</div>

<ul class="pager">
    <li class="previous">
        @Html.ActionLink("Вернуться", "Index")
    </li>
</ul>

