@model IEnumerable<KursavayaDogClub.Models.AWARD>

@{
    ViewBag.Title = "Index";
}

<h2>Список наград</h2>

<ul class="pager">
    <li class="previous">@Html.ActionLink("Добавить запись", "Create")</li>
</ul>

<table class="table">
    <tr>
        <th>
            @Html.Label("Название награды")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AWARD_NAME)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.AWARD_ID }) |
            @Html.ActionLink("Детали", "Details", new { id=item.AWARD_ID }) |
            @Html.ActionLink("Удаление", "Delete", new { id=item.AWARD_ID })
        </td>
    </tr>
}

</table>
