@model KursavayaDogClub.Models.DOG_AWARD

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверенны, что хотите удалить запись?</h3>
<div>
    <h4>НАГРАДЫ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Награда")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AWARD.AWARD_NAME)
        </dd>

        <dt>
            @Html.Label("Кличка")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOG.DOG_NAME)
        </dd>

        <dt>
            @Html.Label("Дата получения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_AWARD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удаление" class="btn btn-danger"/>
            <ul class="pager">
                <li class="previous">@Html.ActionLink("Вернуться", "Index")</li>
            </ul>
        </div>
    }
</div>
