@model KursavayaDogClub.Models.DOG_AWARD

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее</h2>

<div>
    <h4>НАГРАДЫ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Награда")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AWARD.AWARD_NAME)
        </dd>

        <dt>
            @Html.Label("Кличка")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOG.DOG_NAME)
        </dd>

        <dt>
            @Html.Label("Дата получения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_AWARD)
        </dd>

    </dl>
</div>

<ul class="pager">
    <li class="previous">@Html.ActionLink("Вернуться", "Index")</li> 
</ul>