@model IEnumerable<KursavayaDogClub.Models.DOG_AWARD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AWARD.AWARD_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOG.DOG_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_AWARD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AWARD.AWARD_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOG.DOG_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_AWARD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PRIMARY }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PRIMARY }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PRIMARY })
        </td>
    </tr>
}

</table>
