@model KursavayaDogClub.Models.DOG

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверенны, что хотите удалить запись?</h3>
<div>
    <h4>СОБАКА</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Порода")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BREED.BREED_NAME)
        </dd>

        <dt>
            @Html.Label("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OWNER.OWNER_SURNAME)
        </dd>

        <dt>
            @Html.Label("Кличка")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOG_NAME)
        </dd>

        <dt>
            @Html.Label("Дата рождения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRTH_DATE)
        </dd>

        <dt>
            @Html.Label("Дата смерти")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEATH_DATE)
        </dd>

        <dt>
            @Html.Label("Пол")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEX)
        </dd>

        <dt>
            @Html.Label("Отец")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_FATHER)
        </dd>

        <dt>
            @Html.Label("Мать")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_MOTHER)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <ul class="pager">
                <li class="previous">@Html.ActionLink("Вернуться", "Index")</li>
            </ul>
        </div>
    }
</div>
